{{ define "main" }}
{{ partial "archive-hero.html" . }} 

{{/* Optional: Add Controls/Filtering - see section/books.html for example */}}

<div class="container">
    <div class="archive-grid book-grid" id="books-container"> 
        {{ $paginator := .Paginate .Pages.ByTitle }} {{/* Default sort by title */}}
        {{ range $paginator.Pages }}
            {{ partial "archive-grid-item.html" (dict "page" . "sectionType" "book" "site" $.Site) }}
        {{ end }}
    </div>
    {{ partial "pagination.html" . }} 
</div>
{{ end }}