{{ define "main" }}
<article class="work-single book-single"> {{/* Added generic + specific class */}}
    {{/* Call the refactored header partial */}}
    {{ partial "single-header.html" (dict "page" . "layoutType" "work" "context" $) }}

    <div class="container">
        <div class="book-content-container"> {{/* Reusing class, adjust if needed */}}
             {{/* Table of contents logic */}}
             {{ if findRE "<h[2-3]" .Content 1 }}
             <div class="book-toc">
                 <div class="toc-title">Contents</div>
                 <nav id="TableOfContents">
                     {{ .TableOfContents }}
                 </nav>
             </div>
             {{ end }}

            {{/* Main content display */}}
            <div class="book-content">
                {{ .Content }}
            </div>

            {{/* Taxonomy Display */}}
            {{ partial "taxonomy-display.html" . }}
        </div>
    </div>

    {{/* Related Content */}}
    {{ partial "related-content.html" . }}
</article>
{{ end }}