{{/* ============================================================ */}}
{{/* layouts/partials/is-primary-role.html                      */}}
{{/*                                                            */}}
{{/* Checks if a role key is marked as primary.                 */}}
{{/* Input (.): Role key (string, e.g., "author")               */}}
{{/* Output: Boolean (true/false)                               */}}
{{/* ============================================================ */}}
{{ $roleKey := . }}
{{ $roleData := index site.Data.contribution_roles $roleKey }}
{{/* Default to false if role key or flag is missing */}}
{{ return $roleData.primary_work_role | default false }}